<div class="favorites-teams-container">

    <!-- Paso 1: Selección de Liga -->
    <h3>Choose a league</h3>
    <div class="cards-grid">
      <mat-card *ngFor="let lg of allLeagues"
                class="league-card"
                [class.selected]="selectedLeagueSlug === lg.slug"
                (click)="onLeagueSelect(lg.slug)">
        <img mat-card-image [src]="lg.logos[0].href" [alt]="lg.displayName" class="league-logo">
        <mat-card-content>
          <h4>{{ lg.displayName }}</h4>
        </mat-card-content>
      </mat-card>
    </div>
    <mat-progress-spinner *ngIf="isLoadingLeagues"
                          mode="indeterminate"
                          diameter="30"></mat-progress-spinner>
  
    <hr *ngIf="selectedLeagueSlug">
  
    <!-- Paso 2: Listado de Equipos -->
    <div *ngIf="selectedLeagueSlug">
      <h3>Teams on {{ getSelectedLeagueDisplayName() }}</h3>
  
      <div class="cards-grid">
        <mat-card *ngFor="let team of allTeams"
                  class="team-card"
                  [class.selected]="isFavorite(team)">
          <mat-checkbox class="fav-checkbox"
                        [checked]="isFavorite(team)"
                        (click)="$event.stopPropagation()"
                        (change)="toggleFavorite(team)"></mat-checkbox>
  
          <img mat-card-image [src]="team.logo" [alt]="team.displayName" class="team-logo">
          <mat-card-content>
            <h4>{{ team.displayName }}</h4>
          </mat-card-content>
        </mat-card>
      </div>
  
      <mat-progress-spinner *ngIf="isLoadingTeams"
                            mode="indeterminate"
                            diameter="30"></mat-progress-spinner>
      <p *ngIf="!isLoadingTeams && !allTeams.length">There's no teams available.</p>
    </div>
  
    <p *ngIf="errorMsg" class="error">{{ errorMsg }}</p>
  </div>
  
