<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <!-- Marca o logo de la aplicación -->
    <a class="navbar-brand" href="/">furbo</a>
    
    <!-- Botón para colapsar el navbar en pantallas pequeñas -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <!-- Enlaces del navbar -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="/home" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a 
            class="nav-link dropdown-toggle" 
            href="#" 
            id="leaguesDropdown" 
            role="button" 
            data-bs-toggle="dropdown" 
            aria-expanded="false"
            (click)="$event.preventDefault()"
          >
            Leagues
          </a>
          <ul class="dropdown-menu" aria-labelledby="leaguesDropdown">
            <li>
              <a class="dropdown-item" routerLink="/league/esp.1">
                Spain (LaLiga)
              </a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/league/eng.1" >
                England (Premier League)
              </a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/league/fra.1" >
                France (Ligue 1)
              </a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/league/ger.1" >
                Germany (Bundesliga)
              </a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/league/ita.1" >
                Italy (Serie A)
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/matches" routerLinkActive="active">Matches</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login" routerLinkActive="active">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/register" routerLinkActive="active">Register</a>
        </li>
        <li class="nav-item dropdown">
          <a 
            class="nav-link dropdown-toggle" 
            href="#" 
            id="transactionsDropdown" 
            role="button" 
            data-bs-toggle="dropdown" 
            aria-expanded="false"
            (click)="$event.preventDefault()"
          >
            Transactions
          </a>
          <ul class="dropdown-menu" aria-labelledby="leaguesDropdown">
            <li>
              <a class="dropdown-item" routerLink="/transactions/esp.1">
                Spain (LaLiga)
              </a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/transactions/eng.1" >
                England (Premier League)
              </a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/transactions/fra.1" >
                France (Ligue 1)
              </a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/transactions/ger.1" >
                Germany (Bundesliga)
              </a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/transactions/ita.1" >
                Italy (Serie A)
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/profile" routerLinkActive="active">Profile</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Aquí se inyectarán los componentes según la ruta -->
<router-outlet></router-outlet>

