/* usa los tokens que definimos en styles.scss */
.app-toolbar {
    background-color: var(--brand-900) !important;
    color: var(--on-brand) !important;
    font-weight: 600;
  
    .mat-icon {
      font-size: 20px;
      margin-left: .25rem;
    }
  }
  
  /* espacio entre logo y nav */
  .spacer { flex: 1 1 auto; }
  
  /* enlaces desktop ocultos en móvil */
  .nav-links {
    display: flex;
    gap: .5rem;
  
    @media (max-width: 599px) { display: none; }
  }
  
  /* hamburguesa sólo en móvil */
  .mat-mdc-toolbar-menu {
    display: none;
    @media (max-width: 599px) { display: inline-flex; }
  }
  
  /* sidenav básico */
  .app-sidenav-container { height: calc(100vh - 64px); } /* toolbar 64 px */
  .app-sidenav           { width: 220px; }
  
  