/* usa los tokens que definimos en styles.scss */
.app-toolbar {
    background-color: var(--brand-900) !important;
    color: var(--on-brand) !important;
    font-weight: 600;
  
    .mat-icon {
      font-size: 20px;
      margin-left: .25rem;
    }
  }

  .app-brand {
    display: inline-flex;
    align-items: center;
    overflow: visible;
    padding-right: 1rem; // Aumenta el padding para dar más espacio
  }
  
  .app-brand mat-icon {
    font-size: 2rem;    // Asegúrate de que el tamaño sea el deseado
    margin-right: 0.5rem;
  }
  
  /* espacio entre logo y nav */
  .spacer { flex: 1 1 auto; }
  
  /* enlaces desktop ocultos en móvil */
  .nav-links {
    display: flex;
    gap: .5rem;
  
    @media (max-width: 599px) { display: none; }
  }
  
  /* hamburguesa sólo en móvil */
  .mat-mdc-toolbar-menu {
    display: none;
    @media (max-width: 599px) { display: inline-flex; }
  }
  
  /* sidenav básico */
  .app-sidenav-container { height: calc(100vh - 64px); } /* toolbar 64 px */
  .app-sidenav           { width: 220px; }
  
  .profile-icon-wrapper {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #fff; /* fondo blanco */
    border-radius: 50%;
    padding: 0.5rem; /* ajusta según sea necesario */
    /* Opcional: agrega un borde para resaltar el círculo */
    border: 1px solid rgba(0, 0, 0, 0.12);
  }
  
  .profile-icon-wrapper mat-icon {
    font-size: 1.5rem; /* ajustar tamaño del icono si se requiere */
    color: var(--brand-900); /* o el color que necesites */
  }
  