<div class="athlete-details-wrapper">
  <mat-card class="m-4" *ngIf="athlete; else loadingOrError">
    <mat-card-header>
      <div mat-card-avatar class="athlete-avatar">
        <img *ngIf="athlete.flag?.href" [src]="athlete.flag.href" [alt]="athlete.flag.alt" />
        <mat-icon *ngIf="!athlete.flag?.href">person</mat-icon>
      </div>
      <mat-card-title>{{ athlete.fullName }}</mat-card-title>
      <mat-card-subtitle>
        #{{ athlete.jersey }} • {{ athlete.position.displayName }}
      </mat-card-subtitle>
    </mat-card-header>
  
    <mat-card-content>
      <div class="row">
        <div class="col-md-6">
          <p><strong>Name:</strong> {{ athlete.displayName }}</p>
          <p><strong>Age:</strong> {{ athlete.age }} años</p>
          <p><strong>Birthdate:</strong> {{ athlete.dateOfBirth | date }}</p>
          <p><strong>Height:</strong> {{ athlete.displayHeight }}</p>
          <p><strong>Weight:</strong> {{ athlete.displayWeight }}</p>
        </div>
        <div class="col-md-6">
          <p><strong>Gender:</strong> {{ athlete.gender }}</p>
          <p><strong>Citizenship:</strong> {{ athlete.citizenship }}</p>
          <p><strong>Country:</strong> {{ athlete.citizenshipCountry.abbreviation }}</p>
        </div>
      </div>
  
      <mat-divider class="my-3"></mat-divider>
  
      <!-- Sección de estadísticas 
      <h3>Enlaces</h3>
      <ul>
        <li *ngFor="let link of athlete.links">
          <a [href]="link.href" target="_blank">{{ link.text || link.shortText || link.href }}</a>
        </li>
      </ul>
      -->
    </mat-card-content>
  </mat-card>
  
  <ng-template #loadingOrError>
    <div *ngIf="isLoading" class="d-flex justify-content-center my-4">
      <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
    </div>
    <div *ngIf="!isLoading && errorMessage" class="alert alert-danger mt-3">
      {{ errorMessage }}
    </div>
  </ng-template>
</div>
