<div class="favorites-athletes-container">

    <!-- Paso 1: Ligas -->
    <h3>Elige una liga</h3>
    <div class="cards-grid">
      <mat-card *ngFor="let lg of allLeagues"
                class="league-card"
                [class.selected]="selectedLeagueSlug === lg.slug"
                (click)="onLeagueSelect(lg.slug)">
        <img mat-card-image [src]="lg.logos[0].href" [alt]="lg.displayName" class="league-logo">
        <mat-card-content>
          <h4>{{ lg.displayName }}</h4>
        </mat-card-content>
      </mat-card>
    </div>
    <mat-progress-spinner *ngIf="isLoadingLeagues"
                          mode="indeterminate"
                          diameter="30"></mat-progress-spinner>
  
    <hr *ngIf="selectedLeagueSlug">
  
    <!-- Paso 2: Equipos -->
    <div *ngIf="selectedLeagueSlug">
        <h3>Equipos en {{ getSelectedLeagueDisplayName() }}</h3>
        <div class="cards-grid">
        <mat-card *ngFor="let team of allTeams"
                  class="team-card"
                  [class.selected]="selectedTeamId === team.id"
                  (click)="onTeamSelect(team.id)">
          <img mat-card-image [src]="team.logo" [alt]="team.displayName" class="team-logo">
          <mat-card-content>
            <h4>{{ team.displayName }}</h4>
          </mat-card-content>
        </mat-card>
      </div>
      <mat-progress-spinner *ngIf="isLoadingTeams"
                            mode="indeterminate"
                            diameter="30"></mat-progress-spinner>
    </div>
  
    <hr *ngIf="selectedTeamId">
  
    <!-- Paso 3: Jugadores -->
    <div *ngIf="selectedTeamId">
      <h3>Jugadores en {{ getSelectedTeamDisplayName() }}</h3>
      <div class="cards-grid">
        <mat-card *ngFor="let a of allAthletes"
                  class="athlete-card"
                  [class.selected]="isFavorite(a)">
          <mat-checkbox class="fav-checkbox"
                        [checked]="isFavorite(a)"
                        (click)="$event.stopPropagation()"
                        (change)="toggleFavorite(a)"></mat-checkbox>
  
          <img mat-card-image [src]="a.flag.href" [alt]="a.flag.alt" class="athlete-flag">
          <mat-card-content>
            <h4>{{ a.fullName }}</h4>
            <p>{{ a.position.displayName }}</p>
          </mat-card-content>
        </mat-card>
      </div>
      <mat-progress-spinner *ngIf="isLoadingAthletes"
                            mode="indeterminate"
                            diameter="30"></mat-progress-spinner>
      <p *ngIf="!isLoadingAthletes && !allAthletes.length">No hay jugadores.</p>
    </div>
  
    <p *ngIf="errorMsg" class="error">{{ errorMsg }}</p>
  </div>
  
