<mat-toolbar color="primary" class="team-toolbar">
  <div class="team-info" *ngIf="team">
    <img
      class="team-logo"
      [src]="team.logo"
      [alt]="team.displayName + ' logo'"
    />
    <span class="team-name">{{ team.displayName }}</span>
  </div>

  <span class="spacer"></span>

  <button
    mat-button
    routerLink="details"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    queryParamsHandling="preserve"
  >
    Details
  </button>
  <button
    mat-button
    routerLink="stats"
    routerLinkActive="active"
    queryParamsHandling="preserve"
  >
    Statistics
  </button>
  <button
    mat-button
    routerLink="athletes"
    routerLinkActive="active"
    queryParamsHandling="preserve"
  >
    Players
  </button>
  <button
    mat-button
    routerLink="matches"
    routerLinkActive="active"
    queryParamsHandling="preserve"
  >
    Matches
  </button>
  <button
    mat-button
    routerLink="top-performers"
    routerLinkActive="active"
    queryParamsHandling="preserve"
  >
    Top Performers
  </button>
</mat-toolbar>

<router-outlet></router-outlet>

