<!-- team-details-top-performers.component.html -->

<mat-card class="top-performers-card m-4">
  <mat-card-header>
    <mat-card-title>Top Performers – Equipo {{ teamId }}</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <!-- Loading -->
    <ng-container *ngIf="isLoading; else loaded">
      <div class="loading-container">
        <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
      </div>
    </ng-container>

    <ng-template #loaded>
      <!-- Error -->
      <ng-container *ngIf="errorMessage; else showTabs">
        <div class="error-message">{{ errorMessage }}</div>
      </ng-container>
    </ng-template>

    <ng-template #showTabs>
      <mat-tab-group>
        <!-- Recorremos todas las categorías pero renderizamos solo las permitidas -->
        <ng-container
          *ngFor="let cat of topPerformers?.categories; trackBy: trackByCategory"
        >
          <mat-tab
            *ngIf="allowedCategoryNames.includes(cat.name)"
            [label]="cat.shortDisplayName"
          >
            <ng-container *ngIf="cat.leaders?.length; else noLeaders">
              <mat-list dense>
                <mat-list-item
                  *ngFor="let leader of cat.leaders | slice:0:5; trackBy: trackByLeader"
                >
                  <span class="leader-name">
                    {{ getAthleteName(leader.athleteRef) }}
                  </span>
                  <span class="leader-value">
                    {{ leader.displayValue }}
                  </span>
                </mat-list-item>
              </mat-list>
            </ng-container>
            <ng-template #noLeaders>
              <p class="no-data">No hay líderes en esta categoría.</p>
            </ng-template>
          </mat-tab>
        </ng-container>
      </mat-tab-group>
    </ng-template>
  </mat-card-content>
</mat-card>



  
