.home-container {
    padding: 1.5rem;
  }
  
  section {
    margin-bottom: 2rem;
  }
  
  h3 {
    margin-bottom: 0.5rem;
    color: var(--primary-text);
  }
  
  .empty {
    padding: 1rem;
    font-style: italic;
    color: gray;
  }
  
  mat-list-item {
    display: flex;
    align-items: center;
  }
  
  mat-list-item .secondary {
    font-size: 0.85rem;
    color: rgba(0,0,0,0.6);
  }
  
  .loading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
  }
  
  mat-divider {
    margin: 2rem 0;
  }


/* Fuerza que el body del expansion panel crezca al contenido */
::ng-deep .mat-expansion-panel-body {
    max-height: none !important;
    overflow: visible !important;
  }
  
  /* Opcional: que el panel padre no oculte el overflow */
  ::ng-deep .mat-accordion, 
  ::ng-deep .mat-expansion-panel {
    overflow: visible !important;
  }
  