<div class="transactions-container">
  <h2 class="text-center mb-4">Fichajes</h2>

  <div class="season-selector mb-3 d-flex justify-content-center">
    <mat-form-field appearance="fill" class="w-25">
      <mat-label>Season</mat-label>
      <mat-select [value]="season" (selectionChange)="onSeasonChange($event.value)">
        <mat-option *ngFor="let option of seasonOptions" [value]="option">
          {{ option }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <!-- Spinner de carga -->
  <div *ngIf="isLoading" class="spinner-container text-center my-5">
    <mat-spinner diameter="50"></mat-spinner>
  </div>

  <!-- Listado de transacciones -->
  <div class="row" *ngIf="!isLoading">
    <div class="col-md-4" *ngFor="let transaction of transactions">
      <mat-card class="mb-4 hover-card" (click)="goToAthlete(transaction.athlete.id)">
        <mat-card-header>
          <div mat-card-avatar class="avatar-clickable" (click)="$event.stopPropagation()">
            <a [routerLink]="['/player', transaction.athlete.id]">
              <img *ngIf="transaction.athlete.flag?.href"
                   [src]="transaction.athlete.flag.href"
                   [alt]="transaction.athlete.flag.alt"
                   class="rounded-circle" width="40" height="40" />
              <mat-icon *ngIf="!transaction.athlete.flag?.href">person</mat-icon>
            </a>
          </div>
          <mat-card-title>
            <a class="athlete-link" [routerLink]="['/player', transaction.athlete.id]">
              {{ transaction.athlete.fullName }}
            </a>
          </mat-card-title>
          <mat-card-subtitle>{{ transaction.date | date:'mediumDate' }}</mat-card-subtitle>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
          <p>
            <strong>Type: </strong>
            <span class="info-value">{{ transaction.type }}</span>
          </p>
          <p>
            <strong style="margin-right: 0.5rem;">Import: </strong>
            <span class="info-value" style="margin-right: 0.5rem;">{{ transform(transaction.amount) }}</span>
            ({{ transaction.displayAmount }})
          </p>
          <p class="d-flex align-items-center">
            <strong class="me-2">From:</strong>
            <img [src]="transaction.from.logo" alt="{{ transaction.from.displayName }} logo"
                 width="24" height="24" class="me-2" />
            {{ transaction.from.displayName }}
          </p>
          <p class="d-flex align-items-center">
            <strong class="me-2">To:</strong>
            <img [src]="transaction.to.logo" alt="{{ transaction.to.name }} logo"
                 width="24" height="24" class="me-2" />
            {{ transaction.to.name }}
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
